<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<link rel="stylesheet" href="./stylesheets/bootstrap.min.css"></link>
		<link rel="stylesheet" href="./stylesheets/prettify.css"></link>
		<link rel="stylesheet" href="./stylesheets/custom.css"></link>
		<link rel="stylesheet" href="./stylesheets/style.css"></link>
	</head>
	<style type="text/css">
		label {
			width:10em;
			border-radius:8px;   
			padding:0.5em;
			cursor:pointer;
		}
	</style>
	<body>
		<section class="featured">
			<div class="container"> 
				<div class="row">
					<div class="col-md-9 col-md-offset-1">
							<h2 class="slogan" style="font-size:36px">Auction War - Quiz</h2>
					</div>
				</div>
			</div>
		</section>
		<section class="section pad-bot10 fill" style="color: #141823">
			<input id="player-side" name="player_side" type="hidden" value='<%=player_side%>'></input>
			<div class="container-fluid">
				<div class='row'>
					<div class="col-md-8 col-md-offset-2" style="font-size:95%;margin-top:10px">
						<form role="form">
							<div class="form-group">
								<table class="table">
									<tr style="font-weight:bold;">
										<td style="border-top:none;">1. What is the name of your assigned character in the game?</td>
										<td style="border-top:none;"><label for="group0-0"><input type="radio" name="group0" id ="group0-0" value="sam">  Sam</label></td>
										<td style="border-top:none;"><label for="group0-1"><input type="radio" name="group0" id ="group0-1" value="alex"> Alex</label></td>
									</tr>
									<tr style="font-weight:bold;">
										<td style="border-top:none;">2. What value are the records to you?</td>
										<td style="border-top:none;"><label for="group1-0"><input type="radio" name="group1" id="group1-0" value="high">  Highest profit</label></td>
										<td style="border-top:none;"><label for="group1-1"><input type="radio" name="group1" id="group1-1" value="med"> Medium profit</label></td> 
										<td style="border-top:none;"><label for="group1-2"><input type="radio" name="group1" id="group1-2" value="low"> Lowest profit</label></td>
										<td style="border-top:none;"><label for="group1-3"><input type="radio" name="group1" id="group1-3" value="none">  No profit</label></td>
									</tr>
									<tr style="font-weight:bold;">
										<td style="border-top:none;">3. What value are the lamps to you?</td>
										<td style="border-top:none;"><label for="group2-0"><input type="radio" name="group2" id="group2-0" value="high">  Highest profit</label></td>
										<td style="border-top:none;"><label for="group2-1"><input type="radio" name="group2" id="group2-1" value="med"> Medium profit</label></td>
										<td style="border-top:none;"><label for="group2-2"><input type="radio" name="group2" id="group2-2" value="low"> Lowest profit</label></td>
										<td style="border-top:none;"><label for="group2-3"><input type="radio" name="group2" id="group2-3" value="none">  No profit</label></td>
									</tr>
									<tr style="font-weight:bold;">
										<td style="border-top:none;">4. What value is the painting to you?</td>
										<td style="border-top:none;"><label for="group3-0"><input type="radio" name="group3" id="group3-0" value="high">  Highest profit</label></td>
										<td style="border-top:none;"><label for="group3-1"><input type="radio" name="group3" id="group3-1" value="med"> Medium profit</label></td>
										<td style="border-top:none;"><label for="group3-2"><input type="radio" name="group3" id="group3-2" value="low"> Lowest profit</label></td>
										<td style="border-top:none;"><label for="group3-3"><input type="radio" name="group3" id="group3-3" value="none">  No profit</label></td>
									</tr>
									<tr style="font-weight:bold;">
										<td style="border-top:none;">5. What do you think is the other party's highest priority item?</td>
										<td style="border-top:none;"><label for="group4-0"><input type="radio" name="group4" id="group4-0" value="records"> Records</label></td>
										<td style="border-top:none;"><label for="group4-1"><input type="radio" name="group4" id="group4-1" value="painting">  Painting</label></td>
										<td style="border-top:none;"><label for="group4-2"><input type="radio" name="group4" id="group4-2" value="lamp">  Lamp</label></td>
									</tr>
								</table>
							</div>
						</form>
						<div style="float:left">
							<form action="introduction" method="post">
								<input type='button' class='btn btn-primary' id="prevstage" style="width:10em" value='Previous Stage'/>
								<input id="player-id" name="user_id" type="hidden" value='<%=user_id%>'></input> 
				  				<input name="from" type="hidden" value='quiz'></input>
                				<input id="quiz-data_prev" name="quiz_data" type="hidden" value='<%=quiz_data%>'></input>
							</form>
						</div>             
						<div style="float:right">
							<form action="game" method="post">
								<input type='button' class="btn btn-danger" id="nextstage" style="width:10em" value="Next Stage" /> 
								<input id="player-id" name="user_id" type="hidden" value='<%=user_id%>'></input> 
				  				<input name="from" type="hidden" value='quiz'></input>
                				<input id="quiz-data_next" name="quiz_data" type="hidden" value='<%=quiz_data%>'></input>
								<input id="test-name" name="test_name" type="hidden" value='<%=test_name%>'></input>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script src="./javascripts/jquery/jquery.min.js"></script>
		<script src="./javascripts/jquery/jquery.bootstrap.wizard.js"></script>
		<script src="./javascripts/knockout/knockout-3.1.0.js"></script>
		<script src="./javascripts/bootstrap/bootstrap.min.js"></script>
		<script src="./javascripts/bootbox/bootbox.min.js"></script>
		<script src="./javascripts/others/prettify.js"></script>
		<script src="./vmodel_utility.js"></script>
		<script src="./model_quiz.js"></script>
		<script src="./vmodel_quiz.js"></script>
	</body>
</html>